html,body{
	margin:0px !important;
	padding:0px !important;
	/* font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;*/
	font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif;
}

body{
	  
}

  html {
 
    /* background:#444 ; */
   
        background: url('img/sitebkg7.jpg') no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

.container {
    width: 90%;
}


.input-field input[type="search"] ~ .mdi-navigation-close, .input-field input[type="search"] ~ .material-icons{
	top:8px;
}

.input-field input[type="search"]{
	font-size:14px;
}

.row{
	margin-bottom:5px !important;
}

h1, h2, h3, h4, h5, h6 {
	color:#555;
}

nav a{
	font-size:14px !important;
	
}

i.left{
	margin-right:10px !important;
}

i.right{
	margin-left:10px !important;
}


.thinner{
	font-weight: lighter !important;
}

canvas {
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }



.login-header{
	height:100px;
	background:url('img/login-bkg.jpg') no-repeat;
	background-size: 100% 150%;
	background-position: bottom;
	margin-bottom:30px !important;
}

.login-header>div {
	background: rgba(155, 19, 19, 0.8);
	height: 100%;
	width: 100%;
	vertical-align: bottom;
	text-align: center;
	color: #fff;
	font-size: 25px;
	line-height: 100px;
	font-weight: lighter;
}

.site-header{
	background: rgba(0,0,0,0.4);font-size:14px;color:#fff;height:50px;line-height:50px;
	padding:0px 20px;
}


#canvas-holder{
	position: relative;
}

.home-completion-status{
	position: absolute;
	top:50px;
	left:50%;
	margin-left:-50px;
	width:100px;
	color:#666;
	font-size:18px;
	text-align: center;
}

.home-completion-status >div{
font-size:14px;
}



.legend-list{
	margin:0px auto;
	padding:0px;
	display:block;	
}

.legend-list > li{
	list-style: none;
	margin:0px;
	padding:5px 0px;
	color:#444;
	display:inline-block;
	width:49%;
}

.legend-list > li > div{
	display:inline-block;
	height:14px;
	width:30px;
	margin-right:15px;
}


.home-pipeline-chart{
	height:150px;
	width:200px;
	background: #fff url('img/funnel.png') no-repeat center center;
	background-size:auto 100%;
	margin:0px auto;
}


.home-pipeline-legend-box{
	height:20px;
	width:5px;
	display:inline-block;
	margin-right:5px;
	margin-left:-12px;
}

.home-pipeline-table th, .home-pipeline-table td{
	    padding: 5px;
    margin: 0px;
    font-size: 14px;
}

.home-pipeline-table th{
	font-size:12px;
}

.home-pipeline-table tr.summary th{
	font-size:14px;
	color:#055B98;
}

.home-card{
	background: #fff;max-width:400px;margin:20px;min-height:430px;
}


.header-icon{
	display: inline-block;
    height: 50px;
    line-height: 50px;
    float: left;
    width: 60px;
}

.header-icon.active{
	background: #e34234;
}

.header-icon > img{
	display:block;
	height:30px;
	width:30px;
	margin:10px 15px;
}




.bello-list{
	background: #f2f2f2;
	margin:0px 20px;
	padding:10px 5px;
	    padding-top: 0px;
}

.bello-header{	   
	    position: relative;
	    padding:0px 5px;
}

.bello-header> h6{
	font-size: 20px;
color: #444;
display: inline-block;

}

.bello-header> h6 > span.count{
font-size:16px;
margin-left:6px;
}

.bello-header > div.right{
	height: 30px;
line-height: 30px;
margin-right: 15px;
font-size: 14px;
display:block;
float:none !important;
color:#666;
}


.bello-body{
	border-top: 1px solid #ddd;
	overflow:auto;
	max-height:400px;
}



.opp-card{
	    background: #ffffff;
    min-height: 50px;
    padding:5px;
    font-size:13px;
    position: relative;;
    border-bottom: 1px solid #ddd;
    
}


.opp-card  .title{
	color: #0775ab;
	font-weight:normal;
	word-wrap:break-word;
}

.opp-card  .price{
	font-size:14px;
	max-width:100%;
	word-wrap:break-word;
	color:#666;
}

.opp-card  .account{
	color:#055b98;
	display:none;
}

.opp-card  .target-date{
	margin-top:10px;
	color:#888;
	display:none;
}

.opp-card  .target-date > i.fa{
	margin-right:10px;
}




.contract-card{
	border-top:4px solid #7CC347;
	border-left:6px solid #65A139;
}

.proposal-card{
	border-top:4px solid #FFEA31;
	border-left: 6px solid #E1CE29;
}

.solutioning-card{
	border-top:4px solid #FFBD00;
	border-left:6px solid #EDB003;
}

.offerability-card{
	border-top:4px solid #FF9200;
	border-left:6px solid #E68503;
}





.task-card{
	background: #ffffff;
min-height: 50px;
font-size: 13px;
position: relative;
padding-left: 50px;
position: relative;
border-bottom: 1px solid #ddd;
padding-top:5px;
padding-bottom:5px;
}

.task-card.pipeline-card{
	padding-left:10px;
}


.lead-card::before{
	position: absolute;
top: 5px;
left: 5px;
content: "\f095";
font-family: FontAwesome;
background: #f1f1f1;
color: #ccc;
font-size: 25px;
padding: 5px;
width: 40px;
text-align: center;
line-height: 30px;
height: 40px;
}


.appointment-card::before{
	position: absolute;
top: 5px;
left: 5px;
content: "\f073";
font-family: FontAwesome;
background: #f1f1f1;
color: #ccc;
font-size: 25px;
padding: 5px;
width: 40px;
text-align: center;
line-height: 30px;
height: 40px;

}

.task-card  .title{
	color: #0775ab;
	font-weight:normal;
	word-wrap:break-word;
}

.task-card  i.fa{
	margin-right:10px;
}

.task-card  .target-date{
	color:#888;
}





.table-of-contents{
	overflow:auto;
}

.table-of-contents li {
    padding: 2px 0;
    height: 20px;
}



.table-of-contents a {	
	    font-size: 12px;
    line-height: 14px;	
}

#contact-list-wrap .divider{
	margin:20px;
}


#contact-list-wrap .contact-card{
	display:block;

	font-size:12px;
	line-height:25px;
	color:#666 !important;	
}

#contact-list-wrap .contact-card > div{
	background: #fff;
	max-width: 350px;
	padding:5px;	
	border:1px solid #f1f1f1;
}


#contact-list-wrap > a{
color:#666 !important;
}


#contact-list-wrap .contact-card .contact-card-img{
	display:inline-block;
	height:30px;
	width:30px;	
	margin-right:10px;
	text-align: center;    
    background: #333 url(img/icons/light-blue-account.png);
    background-size: 100%;
    background-position: center;
    vertical-align:middle;
   
}

#contact-list-wrap .contact-card .contact-card-img.blue{
	background: #333 url(img/icons/light-blue-account.png);
	background-size: 100%;
    background-position: center;
	 background-color: transparent !important;
}

#contact-list-wrap .contact-card .contact-card-img.teal{
	background: #333 url(img/icons/teal-account.png);
	background-size: 100%;
    background-position: center;
	 background-color: transparent !important;
}

#contact-list-wrap .contact-card .contact-card-img.amber{
	background: #333 url(img/icons/amber-account.png);
	background-size: 100%;
    background-position: center;
	 background-color: transparent !important;
}
#contact-list-wrap .contact-card .contact-card-img.purple{
	background: #333 url(img/icons/purple-account.png);
	background-size: 100%;
    background-position: center;
	 background-color: transparent !important;
}
#contact-list-wrap .contact-card .contact-card-img.orange{
	background: #333 url(img/icons/orange-account.png);
	background-size: 100%;
    background-position: center;
	 background-color: transparent !important;
}
#contact-list-wrap .contact-card .contact-card-img.green{
	background: #333 url(img/icons/green-account.png);
	background-size: 100%;
    background-position: center;
	 background-color: transparent !important;
}
#contact-list-wrap .contact-card .contact-card-img.crimson{
	background: #333 url(img/icons/crimson-account.png);
	background-size: 100%;
    background-position: center;
	 background-color: transparent !important;
}



.empty-list-message{
    height: 200px;
    width: 100%;
    COLOR: #FFF;    
    padding: 20px;
    font-weight:bold;
    background: #333 url(img/llama-pose2.jpg) no-repeat center center;
    background-size: 100%;
}



#callPersonLink{
display: inline-block;
margin: 10px 10px;
font-size: 20px;
line-height: 40px;
text-align: center;
background: #09b166;
color: #fff;
width: 40px;
height: 40px;
border-radius: 50%;
margin-right:20px;
}

#emailPersonLink{
	display: inline-block;
margin: 10px 10px;
font-size: 20px;
line-height: 40px;
text-align: center;
background: #09b166;
color: #fff;
width: 40px;
height: 40px;
border-radius: 50%;
	background: #2196F3;
}


.modal.adaptive-modal{
height:90% !important;
max-height:90% !important;
width:90% !important;
top:5% !important;
}

.adaptive-modal .tabs a{
	font-size:12px !important;
}

.adaptive-modal .row.header-row{
	margin-bottom:0px !important;
}

.adaptive-modal .title,.adaptive-modal .close{
	color:#fff !important;
	line-height:48px;
	font-size:14px !important;
	font-weight:bold;
}

.adaptive-modal-content-scollable{
	position:absolute;
	top:0px;
	left:0px;
	right:0px;
	bottom:60px;
	overflow: auto;
	padding:10px 20px;
}

.adaptive-modal-content-fixed{
	background:#f1f1f1;
	position:absolute;
	height:60px;
	left:0px;
	right:0px;
	bottom:0px;
	overflow: auto;
}

.tabs.white-text .tab a:hover, .tabs.white-text .tab a.active{
font-weight: bold;	
	}

.tabs.white-text .tab a, .tabs.white-text .tab a:hover, .tabs.white-text .tab a.active{
	color:#fff !important;
}

.tabs.white-text .indicator{
	background-color: #fff !important;
}


.chat-bkg{
	background: #E3DCD2 url('img/chat-bkg.jpg');
}


#contact-details-modal .header-row a.close{
	font-size: 18px !important;
height: 36px;
padding: 0px 9px;
margin-top: 7px;
line-height: 36px;
}


table.key-val-table th{
	background: #f1f1f1;
	color:#333;
	font-weight:bold;
	text-align: left;
	border:1px solid #e1e1e1;
}

table.key-val-table td{
	background: #fff;
	color:#333;
	text-align: left;
	border:1px solid #e1e1e1;
}


.select-wrapper input.select-dropdown{
	border-bottom:none !important;
	color:blue;
	margin:0px !important;
	font-size: 12px;
text-transform: uppercase;
}

.no-box-collapse ul{
	box-shadow: none !important;
}

.no-box-collapse ul,.no-box-collapse li,.no-box-collapse div{
	border:none !important;
	font-size:12px;
	color:#666;
	margin:0px;
	padding:2px !important;
	padding-right:0px !important;
	padding-left: 4px !important;
}

.no-box-collapse .collapsible-header{
	min-height:20px;
	line-height:20px;
	position:relative;
}


.no-box-collapse .collapsible-header:after{
	content:'+';
	position: absolute;
	top:0px;
	right:5px;
	font-size:20px;
	display:block;
	width:20px;
	text-align: center;
}

.no-box-collapse .collapsible-header.active:after{
	content:'-';
	position: absolute;
	top:0px;
	right:5px;
	font-size:20px;
		width:20px;
	text-align: center;
}

.no-box-collapse .collapsible-header.active{
	color:blue;
}

.no-box-collapse .collapsible-body{
	padding:0px;
	padding-left:5px;
	padding: 0px;
padding-left: 10px;
border-left: 1px solid #bfbfbf !important;
margin-left: 10px;
}


.no-box-collapse > ul{
	padding-left:0px !important;
}

h6.chotu-title{
	text-transform: uppercase;
	font-weight:bold;
	font-size:10px;
}



.chotu-table th,.chotu-table td{
	
	padding: 5px 5px;
display: table-cell;
text-align: left;
vertical-align: middle;
border-radius: 2px;
font-size: 12px;
color: #666;
text-align: center;
}


.chotu-table th{
	font-size:10px;
}




.table-of-contents a{
	color:#fff;
}


.list-section-title{
	color: #fff;
background: #e34234;
display: inline-block;
padding: 5px 10px;
	
}