html,body{
	margin:0px;
	padding:0px;
	 font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body{
	background: #fafafa;
}

.container {
    width: 90%;
}

#site-header-target{
	background: #2196F3 !important;
	height:64px;
}

.row{
	margin-bottom:5px !important;
}

h1, h2, h3, h4, h5, h6 {
	color:#555;
}

nav a{
	font-size:14px !important;
	
}

i.left{
	margin-right:10px !important;
}

i.right{
	margin-left:10px !important;
}

.site-nav a,.site-nav a i{
	line-height:40px !important;
	height:40px !important;
}

.dropdown-content{
	min-width:150px !important;
}

.dropdown-content a{
	color:#555 !important;
	padding:5px !important;
	text-align:left;
}

nav ul a:hover {
    background-color: rgba(255,255,255,0.2);
}


.card .card-header ,.card .card-action {
	    padding: 10px !important;
}

.card-action-home{
	border-radius: 0 0 2px 2px;
	padding: 10px !important;
	position: relative;
    background-color: inherit;    
}

.chotu-link{
    color: #444 !important;
    display: inline-block;
    background: #eee;
    height: 25px;
    width: 25px;
    text-align: center;
    line-height: 25px;
    border-radius: 50%; 
    font-size:13px;
    margin:0px 10px
}

.chotu-link.add{
	color:#fff !important;
	background: #4caf50 ;
}

.chotu-link.view{
	color:#fff !important;
	background: #00b0ff ;
}

.card .card-header .card-header-title{
	color:#666;
	font-size:16px;
	
	text-transform: uppercase;
	
}

.modal{
	width:80%;
}
.modal-content{
	padding:10px 20px !important;
}

.card-action .fa{
	margin-right:10px;
}
.card-action.blue-link a{
	    color: #2187d2 !important;
    FONT-SIZE: 13px !important;
}
.card a.context-menu-opener{
    float: right;
    display: block;
    cursor: pointer;
    text-align: right;
    color: #666 !important;
    margin-right: 0px !important;
}

.card .card-content{
	padding:10px;
}



.card.home-card .card-content h6{
	font-size: 14px;
    color: rgba(0,0,0,0.5);
    font-weight: bold;
}

.card.home-card .card-content span.number{
    font-size: 22px;
    color: rgba(0,0,0,0.7);
    text-shadow: 1px 1px 5px rgba(255,255,255,0.2);
}

.home-card-thin	h6{
	font-size:16px;
	line-height:20px;
	color:#666;
	display:inline-block;
	margin:0px;
}

.home-card-thin	span.number{
	display:block;
	float:right;
	font-size:20px;
	
	
}


.modal.bottom-sheet {
	max-height: 60% !important;
}

.brand-logo-left{
	position: absolute;
color: #fff;
display: inline-block;
padding: 0;
white-space: nowrap;
}


.brand-logo-left img{
	height: 40px;
    margin: 4px;
    margin-right:20px;	
}

.brand-logo-left{
font-size:20px !important;	
}

#create-item-modal a{
	display:block;
	text-align: center;	
	padding:10px;
	
}

#create-item-modal a img{
	width:40px;height:auto;
	display:block;
	margin:auto;
	margin-bottom:10px;
}

#create-item-modal a span{
	font-size:14px;
	color:#222 ;
	text-transform:uppercase;
}

.home-tabs .tab a{
	color:#555 !important;
}

.home-tabs .indicator{
	background: #aaa !important;
}

.pipeline-summary-card{
	padding:0px !important;
}

.pipeline-card {
	background:#fff;
	padding:5px;
	border:1px solid #f1f1f1;
}

.pipeline-card .circle-arc{
	display:inline-block;
	position: relative;
	margin:0px 20px;   
    border-radius: 50%;
	height:66px;width:66px;   
     -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Safari */
    transform: rotate(45deg); /* Standard syntax */
}



.pipeline-card .circle-arc.stage1{
	border: 8px solid #f1f1f1;
    border-top-color: #fdd835 ;
}

.pipeline-card .circle-arc.stage2{
	border: 8px solid #f1f1f1;
    border-top-color: #039be5 ;
    border-right-color: #039be5 ;
}

.pipeline-card .circle-arc.stage3{
	border: 8px solid #f1f1f1;
    border-top-color: #8bc34a;
    border-right-color: #8bc34a;
    border-bottom-color: #8bc34a;
}


.pipeline-card .circle-arc span{	
	display:block;
	    height: 50px;
    line-height: 50px;
    width: 50px;
    text-align: center;
	 -ms-transform: rotate(-45deg); /* IE 9 */
    -webkit-transform: rotate(-45deg); /* Safari */
    transform: rotate(-45deg); /* Standard syntax */
}


.pipeline-card .title-wrap{
	display:inline-block;color: #444;font-size:16px;width:90px;
}
.pipeline-card h6{
	display:inline-block;
	word-wrap:break-word;
	
}



.list-item-right-arrow{
	    float: right;
    margin: 16px;
    display: block;
    height: 40px;
    width: 40px;
    background: #f1f1f1;
    color: #444;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}


.home-card-pipeline-stage{
	position: relative;
	padding: 10px 0px;
	height:200px;
	text-align:center;	
}

.home-card-pipeline-stage h6,.home-card-pipeline-stage span.number{
	padding:10px 0px;
}

.home-card-pipeline-stage .fa{
color: #fff;
    font-size: 60px;
    display:block;
    width:80px;
    
}


.home-card-pipeline-stage-title{
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    position: absolute;
    top:0px;
    left:60px;
}


.home-card-pipeline-stage-number{
	color: #fff;
    font-size: 30px;
    position: absolute;
    top:20px;
    left:60px;
}



.indicator{
	height:4px !important
}




.card.product-card{
	margin:3px 0px !important;
	
}

.product-card .product-icon{
	position:absolute;
	top:10px;
	left:10px;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    background: #005a9a url(img/icons/box.png) no-repeat center center;
    background-size: 100%;
}

.product-card .product-ref-no{
	position:absolute;
	top:0px;
	left:90px;
	
}

.product-card .product-title{
	position:absolute;
	top:20px;
	left:90px;
	color:#005a9a;
	font-weight:bold;
	font-size:18px;	
}

.product-card .product-meta-title{
	color:#999;
	font-size:12px;	
}

.product-card .product-price{
	color:#666;
	font-weight:bold;
	font-size:18px;	
}
.chip.small{
	height: 24px !important;
	line-height: 24px !important;
}

.add-btn{
	width:100px;
	display:block;
	text-align: center;
	font-size:18px;
	line-height:24px;	
	border:2px solid rgb(0,176,80);;
	position:relative;
}

.add-btn.unselected{
	background: transparent;
	color:rgb(0,176,80);
}

.add-btn.unselected:before { 
    content: "\f067";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: rgb(0,176,80);
    font-size: 11px;
    padding-right: 0.5em;
    position: absolute;
    top: 0px;
    left: 12px;
}

.add-btn.selected{
	background: rgb(0,176,80);
	color:#fff;
}


.icon-title{
	color:#fff;font-size:14px;position: absolute;bottom:5px;left:0px;text-align: center;width:100%;
}

.worklist-action-item{
	position: relative;
	height: 100px;
	background: #0369c1 url('img/icons/worklist-action.png') no-repeat
		center 10px;
	background-size: 50px;
	margin: 10px 0px;
}

.worklist-info-item{
	
	position: relative;
	height: 100px;
	background:  #277b8a url('img/icons/worklist-notification.png') no-repeat
		center 10px;
	background-size: 50px;
	margin: 10px 0px;
	

}

.worklist-chat-item{
	
	position: relative;
	height: 100px;
	background: #09b166 url('img/icons/chat2.png') no-repeat
		center 10px;
	background-size: 50px;
	margin: 10px 0px;
	

}

.worklist-fav-item{
	
		position: relative;
	height: 100px;
	background: #ff6464 url('img/icons/star-yellow.png') no-repeat
		center 10px;
	background-size: 50px;
	margin: 10px 0px;
	
}



.icon-config-stage{
	margin:auto;border-radius:50%;height:100px;width:100px; background:#fff url('img/icons/tools-and-utensils.png') no-repeat center center;background-size: 60%;
	
	border: 6px solid #ccc;
	border-top:6px solid #ff6d00;
	
	   -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Safari */
    transform: rotate(45deg); /* Standard syntax */
	
}

.icon-price-stage{
	margin:auto;border-radius:50%;height:100px;width:100px; background:#fff url('img/icons/price-tag.png') no-repeat center center;background-size: 60%;

border: 6px solid #ccc;
	border-top:6px solid #ffc400;
	border-right:6px solid #ffc400;
	
	   -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Safari */
    transform: rotate(45deg); /* Standard syntax */
}

.icon-quote-stage{
	margin:auto;border-radius:50%;height:100px;width:100px; background:#fff url('img/icons/diploma.png') no-repeat center center;background-size: 60%;
	
	border: 6px solid #ccc;
	
	border-top:6px solid #4caf50;
	border-right:6px solid #4caf50;
	border-bottom:6px solid #4caf50;
	
	   -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Safari */
    transform: rotate(45deg); /* Standard syntax */
}

.worklist-bubble
{
    position: absolute;
    background: #ff9100 ;
    height: 35px;
    line-height: 35px;
    padding: 0px 5px;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    top: -10px;
    right: -10px;
}


.table-of-contents{
	overflow:auto;
}

.table-of-contents li {
    padding: 2px 0;
    height: 20px;
}



.table-of-contents a {	
	    font-size: 12px;
    line-height: 14px;	
}

#contact-list-wrap .divider{
	margin:20px;
}


#contact-list-wrap .contact-card{
	display:block;
	padding:10px;	
	border:1px solid #f1f1f1;
	background: #fff;
	font-size:12px;
	line-height:25px;
	color:#666 !important;	
}

#contact-list-wrap > a{
color:#666 !important;
}


#contact-list-wrap .contact-card .contact-card-img{
	display:inline-block;
	height:25px;
	width:25px;	
	margin-right:10px;
	text-align: center;    
    background: #333 url(img/icons/light-blue-account.png);
    background-size: 100%;
    background-position: center;
    vertical-align:middle;
   
}

#contact-list-wrap .contact-card .contact-card-img.blue{
	background: #333 url(img/icons/light-blue-account.png);
	background-size: 100%;
    background-position: center;
	 background-color: transparent !important;
}

#contact-list-wrap .contact-card .contact-card-img.teal{
	background: #333 url(img/icons/teal-account.png);
	background-size: 100%;
    background-position: center;
	 background-color: transparent !important;
}

#contact-list-wrap .contact-card .contact-card-img.amber{
	background: #333 url(img/icons/amber-account.png);
	background-size: 100%;
    background-position: center;
	 background-color: transparent !important;
}
#contact-list-wrap .contact-card .contact-card-img.purple{
	background: #333 url(img/icons/purple-account.png);
	background-size: 100%;
    background-position: center;
	 background-color: transparent !important;
}
#contact-list-wrap .contact-card .contact-card-img.orange{
	background: #333 url(img/icons/orange-account.png);
	background-size: 100%;
    background-position: center;
	 background-color: transparent !important;
}
#contact-list-wrap .contact-card .contact-card-img.green{
	background: #333 url(img/icons/green-account.png);
	background-size: 100%;
    background-position: center;
	 background-color: transparent !important;
}
#contact-list-wrap .contact-card .contact-card-img.crimson{
	background: #333 url(img/icons/crimson-account.png);
	background-size: 100%;
    background-position: center;
	 background-color: transparent !important;
}



.empty-list-message{
    height: 200px;
    width: 100%;
    COLOR: #FFF;    
    padding: 20px;
    font-weight:bold;
    background: #333 url(img/llama-pose2.jpg) no-repeat center center;
    background-size: 100%;
}



#callPersonLink{
display: inline-block;
margin: 10px 10px;
font-size: 20px;
line-height: 40px;
text-align: center;
background: #09b166;
color: #fff;
width: 40px;
height: 40px;
border-radius: 50%;
margin-right:20px;
}

#emailPersonLink{
	display: inline-block;
margin: 10px 10px;
font-size: 20px;
line-height: 40px;
text-align: center;
background: #09b166;
color: #fff;
width: 40px;
height: 40px;
border-radius: 50%;
	background: #2196F3;
}



/*


#########################################


MOBILE ONLY BLOCK




#########################################


*/
@media screen and (max-width:600px) {

	
	
	.home-card-pipeline-stage{
text-align:left;	
	height:80px;
box-shadow: 0px 1px 0px #ececec;
	}
	
	
	
.icon-config-stage,.icon-price-stage,.icon-quote-stage{
	display: inline-block;
vertical-align: middle;
height: 50px;
width: 50px;

}


.icon-config-stage{
	border: 3px solid #ccc;
	border-top:3px solid #ff6d00;
}

.icon-price-stage{
	border: 3px solid #ccc;
	border-top:3px solid #ffc400;
	border-right:3px solid #ffc400;
}

.icon-quote-stage{
	border: 3px solid #ccc;
	border-top:3px solid #4caf50;
	border-right:3px solid #4caf50;
	border-bottom:3px solid #4caf50;
}

.home-card-pipeline-stage h6{
	display: inline-block !important;
line-height: 50px !important;
padding: 0px !important;
margin: 0px !important;
margin-left: 10px !important;

}

.home-card-pipeline-stage > span.number{
	
display: inline-block;
line-height: 40px;
margin-left: 10px;
float:right;
}

.product-card .product-price{
display: inline-block;
float: right;
margin-right: 10px;
}


.worklist-action-item,.worklist-info-item,.worklist-chat-item,.worklist-fav-item{
	height:70px;
	background-position: center center;
	background-size:auto 60%;
}

.icon-title{
	display:none;
}

.mobile-block
{
    display: block !important;
    width: 100% !important;
    margin: 5px 0px !important;
}

}
