html,body{
	margin:0px;
	padding:0px;
	 font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/*Left Drawer*/

.snap-drawer-left{
	background: #666;
	
}
.snap-drawer-left h2{
	margin:10px;
	color:#fff;	
}

.snap-drawer-left ul{
	margin:0px;
	padding:0px;
}
.snap-drawer-left ul li{
	list-style-type: none;
}

.snap-drawer-left ul li a{
display:block;padding:5px 10px;text-align: left;color:#fff;
	}
	
/*Fixing the app bar*/	
	
.bar .icon.fa{
	font-size:20px !important;
}

.tab-item {
  position: relative
}

.tab-item .badge {
  vertical-align: top;
  position: absolute;
  top: -3px;
  right: 50%;
  z-index:21;
}

/*Theming Table View List*/

.table-view-cell{
color:#666;	
} 
#menu-create-item  .table-view-cell .icon.fa {
background: #007aff;
    color: #fff;
    display: block;
    padding: 6px;
    font-size: 14px;
    border-radius: 6px;
    width: 26px;
    text-align: center;
}
#menu-create-item  .table-view-cell .media-body
{
    line-height: 26px;
    }

    div.title img{
    height:40px;
    width:auto;}